{:paths ["src"]
 :deps  {bk/ring-gzip                             {:mvn/version "0.3.0"}
         com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.7"}
         com.taoensso/telemere                    {:mvn/version "1.0.0-RC2"}
         com.taoensso/telemere-slf4j              {:mvn/version "1.0.0-RC2"}
         metosin/malli                            {:mvn/version "0.6.1"}
         metosin/muuntaja                         {:mvn/version "0.6.8"}
         metosin/reitit-malli                     {:mvn/version "0.5.18"}
         metosin/reitit-middleware                {:mvn/version "0.5.18"}
         metosin/reitit-ring                      {:mvn/version "0.5.18"}
         org.clojure/clojure                      {:mvn/version "1.10.3"}
         party.donut/sugar                        {:mvn/version "0.0.19"}
         ring/ring                                {:mvn/version "1.9.4"}
         ring/ring-defaults                       {:mvn/version "0.3.3"}}

 :aliases
 {:dev
  {:extra-paths ["test"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "48c3c67"}}
   :exec-fn     cognitect.test-runner.api/test}

  :build
  {:deps       {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                slipset/deps-deploy           {:mvn/version "0.2.1"}}
   :ns-default build}}}
